/* Font for brand */
nav .navbar-brand
{
    font-size: xx-large;
    font-family:'Times New Roman',serif;
    font-style:italic;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #45a049;
}

.reset-btn {
    background-color: #ff9933;
    color: white;
    padding: 10px 20px;
    margin: 8px 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #e57c00;
}

#form {
    margin: auto;
    width: 90%;
    border-radius: 20px;
    background-color: #505050;
    padding: 20px;
}

.form-control {
    margin-top: 3px;
    cursor: pointer;
}

.form-check-label, .form-check-input {
    cursor: pointer;
}

.scrollable {
    overflow-x: auto;
}
