{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h2>Change Password</h2>
    <div id="form">
        <form action="/password" method="post">
            <label for="old_password">Old Password:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old_password" name="old_password" placeholder="Old Password" type="password">
            <br><hr>
            <label for="new_password">New Password:</label>
            <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New Password" type="password">
            <br>
            <label for="verification">Verify New Password:</label>
            <input class="form-control mx-auto w-auto" id="verification" name="verification" placeholder="Verify New Password" type="password">
            <br><hr>
            <button class="submit-btn" type="submit">Change Password</button>
        </form>
    </div>
{% endblock %}
