{% extends "layout.html" %}

{% block title %}
    Change Username
{% endblock %}

{% block main %}
    <h2>Change Username</h2>
    <div id="form">
        <form action="/username" method="post">
            <label for="current_username">Current Username:</label>
            <input readonly class="form-control mx-auto w-auto" id="current_username" name="current_username" value="{{ current_username }}" type="text">
            <br>
            <label for="new_username">New Username:</label>
            <input autocomplete="on" autofocus class="form-control mx-auto w-auto" id="new_username" name="new_username" placeholder="New Username" type="text">
            <br><hr>
            <button class="submit-btn" type="submit">Change Username</button>
        </form>
    </div>
{% endblock %}
